<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="register.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
                Ro'yhatdan o'tish
            </h1>
            <h2 class="wv-heading--subtitle">
                Profilingiz bormi? <a href="/login">Login</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="myform form ">
                <form action="/register/send" method="post" name="register" >
                    <div class="form-group">
                        <input type="text" name="name" class="form-control my-input" id="name" placeholder="Ism"
                               required
                               oninvalid="this.setCustomValidity('Ismni kirting')">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control my-input" id="email" placeholder="Email"
                               required
                               oninvalid="this.setCustomValidity('Emailni kiritmadingiz yoki xato kiritdingiz')">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control my-input" id="password"
                               placeholder="Parol" required
                               oninvalid="this.setCustomValidity('Parolni kiritng')">
                    </div>
                    <div class="form-group">
                        <input type="text" min="0" name="phone" id="phone" class="form-control my-input"
                               placeholder="Telefon raqam" required
                               oninvalid="this.setCustomValidity('Telefon raqamni kirting')">
                    </div>
                    <div class="text-center ">
                        <button type="submit" class="btn btn-block send-button tx-tfm">Ro'yhatdan o'tish</button>
                    </div>
                    <div class="col-md-12 ">
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">yoki</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block g-button" href="#">
                            <i class="fa fa-google"></i> Google orqali ro'yhatdan o'tish
                        </a>
                    </div>
                    <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a
                            href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>